@font-face {
  font-family: "A";
  src: url(../public/Fonts/Alexandria-Black.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "A";
  src: url(../public/Fonts/Alexandria-Black.ttf);
  font-weight: bold;
}
